.App {

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgb(74, 170, 173);
}

.tweet{
  height: 300px;
  width: 300px;
  background-color: burlywood;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
